.playlist-root {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.playlist-container {
    width: 88%;
    height: 80%;
    gap: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #888 transparent;
    scrollbar-width: thin;
}

.playlist-root>h3 {
    display: flex;
    margin-top: 24px;
}

.playlist-item {
    width: 99%;
    height: 72px;
    border: 1px solid var(--ice-opaque);
    border-radius: 8px;
    margin-bottom: 8px;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 8px;
    color: var(--ice);
}

.playlist-item-image {
    height: 100%;
    padding: 8px;
    border-radius: 8px;
}

.playlist-item-play {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    margin-left: 4px;
    border-radius: 50%;
    cursor: pointer;
}

.playlist-item-play>img {
    width: 22px;
    height: 22px;
    opacity: 0.5;
}


.playlist-item-track-name {
    font-size: 16px;
    letter-spacing: 0.25px;
    width: 40%;
    text-overflow: ellipsis;
}

.playlist-item-artist-name {
    font-size: 14px;
    font-weight: 100;
    width: 30%;
    text-overflow: ellipsis;
}

.playlist-item-track-duration {
    text-overflow: ellipsis;
}

.playlist-clear-button {
    justify-self: center;
    border-radius: 8px;
    padding: 8px;
    margin: 0 45%;
    cursor: pointer;
    user-select: none;
    background-color: var(--aurora-opaque);
}

.playlist-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 200px;
}

.playlist-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 200px;

}

.playlist-container::-webkit-scrollbar {
    width: 10px;
}

.playlist-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.playlist-item-export-wrapper {
    width: 64px;
    height: 64px;
    opacity: 0.8;
}

.playlist-item-export {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.circular-chart {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .circle-bg {
    fill: none;
    stroke: var(--fuel-opaque);
    stroke-width: 4;
  }
  
  .circle {
    fill: none;
    stroke: var(--green-opaque);
    stroke-width: 4;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
  