:root{
    --dark: #1e1e1e;
    --light: #fefdfb;
    --green: #1db954;
}

body,html{
    margin: 0;
    height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}

