:root {
    --dark: #1e1e1e;
    --light: #dcdcdd;
    --light-opaque: rgba(220, 220, 221, 0.5);
    --green: #1db954;
    --bg: #242529;
    --bg2: #35373D;
    --bg-opaque: rgba(36, 37, 41, 0.2);
    --forest: #3c4a3e;
    --forest-opaque: rgba(60, 74, 62, 0.65);
    --mint: #d8f9db;
    --mint-opaque: rgba(216, 249, 219, 0.5);
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    height: 100vh;
    background-color: var(--bg);
    color: var(--light);
    font-family: 'Inter', 'Roboto', sans-serif;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.app {
    display: flex
}

.border {
    height: 80vh;
    border: 1px solid var(--light);
    align-self: flex-end;
    opacity: 0.45;
}

.side-frame {
    height: 100vh;
    width: 33.34vw;
    max-width: 324px;
    justify-content: flex-start;
    position: relative;
    
}

.main-frame {
    height: 100vh;
    width: 100%;
}

.outlined-text {
    text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;
}