.header {
    align-items: flex-start;
    justify-content: space-between;
}


.header-links {
    display: flex;
    align-items: center;
    gap: 32px;
    font-weight: 100;
    font-size: 1em;
    color: whitesmoke;
    cursor: pointer;
    user-select: none;

}

.header-links>.logo {
    font-size: 2.5em;
    padding: 12px;
}

.selected-link{
    text-decoration: underline;
}

.header-links>div:hover {
    opacity: 0.75;
}

.profile-container {
    display: flex;
    width: 500px;
    height: 125px;
    justify-content: flex-end;
    padding: 24px;
}

.profile-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:  1px solid whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 12px;
}

.profile-username {
    font-size: 1.3em;
    letter-spacing: 0.2px;
    font-weight: bold;
}

.profile-join-date {
    font-size: 0.9em;
    letter-spacing: 0.15px;
    font-weight: lighter;
}

.home-main-container {
    position: relative;
    height: calc(100vh - 175px);
}

.home-main-container>p {
    font-size: 1.25em;
    margin: 48px;
}

.home-mins-listened {
    font-size: 5em;
}

.home-stat-1>p,
.home-stat-2>p,
.home-stat-3>p,
.home-stat-4>p {
    font-size: 1.8em;
    margin: 0;
}

.home-stat-1 {
    position: absolute;
    top: 18%;
    left: 18%;
}

.home-stat-2 {
    position: absolute;
    top: 18%;
    right: 18%;
}

.home-stat-3 {
    position: absolute;
    bottom: 18%;
    left: 18%;
}

.home-stat-4 {
    position: absolute;
    bottom: 18%;
    right: 18%;
}