.top-stats-main-container-wrapper {
    height: 100vh;
    display: flex;
}

.top-stats-main-container {
    height: 100%;
    width: 100%;
}

.top-stats-main-container>div {
    width: 98%;
    height: 100%;
    display: flex;
    margin-top: 50px;
}

.top-stats-main-container>div>h1 {
    margin: 12px;
}

.top-artists-container {
    align-items: flex-end;
}

.top-stats-heading {
    height: 100px;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.left-graph,
.right-graph {
    width: 90%;
    height: 90%;
    margin: 24git px 100px 0 100px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
}

.left-graph {
    border-left: 1px solid white;
}

.right-graph {
    border-right: 1px solid white;
}

.right-graph>div{
    display: flex;
    justify-content: flex-end;
}

.right-graph>div>.bar{
    justify-content: flex-end;
}

.left-graph>div, .right-graph>div{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.bar{
    height: 25%;
    width: 60%;
    background-color: var(--green);
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px
}

.bar-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}

.bar-track-icon{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid white;
}

.bar-stat-value{
    font-size: 1.5em;
    font-weight: bold;
}